<head>
    <title>Comment Search</title>
    <style>
        table {
            border-collapse: collapse;
        }
        th {
            background-color:#5e81ac;
            Color:white;
        }
        th, td {
            width:150px;
            text-align:center;
            border:1px solid #2e3440;
            padding:5px
        
        }
    </style>
</head>
<body>
    <h2>Comment Search</h2>
    <form action='comment_search' method='POST'>
        <textarea type="text" name="text" rows="4" cols="50"></textarea></br>
        <input type='submit' name='search' value='Search'></input>
    </form></br>
    {% if people_list %}
        <h1>Result:</h1>
        <table name=comment_search cellspacing=2 width="50%" cellpadding=0 border=0>
            <tbody>
                <tr cellspacing=2 width="50%" cellpadding=0 border=0>
                    <th>Name</th>
                    <th>Number of matched comments</th>
                </tr>
                {% for person in people_list %}
                <tr cellspacing=2 width="50%" cellpadding=0 border=0>
                    <td><a href="{{url_for('protected', uid=person[0])}}">{{person[1] + " " + person[2]}}</a></td>
                    <td><p>{{ person[3] }}</p></td>
                </tr>
                {% endfor %}
            </tbody>
        </table> 
    {% endif %}
    <a href='/'>Home</a>
</body>