<head>
    <title>Friend Search</title>
    <style>
        table {
            border-collapse: collapse;
        }
        th {
            background-color:#5e81ac;
            Color:white;
        }
        th, td {
            width:150px;
            text-align:center;
            border:1px solid #2e3440;
            padding:5px
        
        }
    </style>
</head>
<body>
    <h2>Friend Search</h2>
    <form action='friend_search' method='POST'>
        <input type='text' name='first_name' id='first_name' placeholder='First name'></input>
        <input type='text' name='last_name' id='last_name' placeholder='Last name'></input>
        <input type='submit' name='search' value='Search'></input>
    </form></br>
    {% if people_list %}
        <h1>Result:</h1>
        <table name=friend_search cellspacing=2 width="50%" cellpadding=0 border=0>
            <tbody>
                <tr cellspacing=2 width="50%" cellpadding=0 border=0>
                    <th>Name</th>
                </tr>
                {% for person in people_list %}
                <tr cellspacing=2 width="50%" cellpadding=0 border=0>
                    <td><a href="{{url_for('protected', uid=person[0])}}">{{person[1] + " " + person[2]}}</a></td>
                    <td><button id="add" data-id="{{person[0]}}">Add friend</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table> 
    {% endif %}
    <a href='/'>Home</a>
</body>
<script>
    const deleteBtn = document.getElementById("add");
    deleteBtn.onclick = function(e) {
          const uid = e.target.dataset["id"];
          fetch(`/profile/${uid}`, {
          method: "POST",
          }).then(response => {
              if (response.redirected) {
                  window.location.href = response.url;
              }
          })
      };
  
  </script>