<!-- author ben lawson balawson@bu.edu -->
<head>
    <title>Create an account!</title>
    <style>
        #content {
            
        }
    </style>
</head>
{%if not suppress%}
<h1> Email already in use! Use another one or <a href="/login">login</a></h1>
{% endif %}
    <body>
        <div class="title">
            <h1>Enter your information below</h1>
        </div>
        <div id="content">
            <form method="post" action="{{ url_for('register_user') }}">
                <label for="first_name">First name:</label>
                <input type="text" name="first_name" /><br />
                <label for="last_name">Last name:</label>
                <input type="text" name="last_name" /><br />
                <label for="email">Email:</label>
                <input type="email" name="email" /><br />
                <label for="date">Date of birth:</label>
                <input type="date" name="dob" min="1900-01-01" max="2022-03-31" /><br />
                <label for="password">Password:</label>
                <input type="password" name="password" /><br />
                <input type="submit" />
            </form>
         </div>
    </body>
<a href='/'>Home</a>
